body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#wrapper {
    flex: 1;
}

/* BUTTONS */
a:hover {
    color: #f6f3e8;
    text-decoration: none;
}

.blue-btn {
    display: inline-block;
    background-color: #0c444c;
    border: none;
    color: #f6f3e8;
    padding: .5em 1.2em;
    letter-spacing: 1px;
    margin-top: 30px;
}

.blue-btn:focus {
    outline: none;
}

.blue-btn:hover {
    background-color: #18737d;
}

.orange-btn {
    display: inline-block;
    background-color: #862a21;
    border: none;
    color: #f6f3e8;
    padding: .5em 1.2em;
    letter-spacing: 1px;
    margin-top: 30px;
}

.orange-btn:focus {
    outline: none;
}

.orange-btn:hover {
    background-color: #b44738;
    color: #f6f3e8;
}

/* HOME SECTION 1 */
.home-section-1 {
    min-height: 100vh;
    background: #0c444c;
}

.home-section-1 img {
    display: block;
    margin: auto;
}

/* HOME SECTION 2 */

.home-section-2 {
    height: 100vh;
    background: #f6f3e9;
}

.home-section-2 .row {
    height: 100%;
}

.home-section-2 .row img {
    /* To center horizontally */
    display: block;
    margin: auto;
    /* To center vertically */
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rusty-background {
    background-color: #b44738;
    /* Rusty color 2: #af4a3c */
}

hr {
    display: inline-block;
    left: 0;
    width: 10em;
    border-top: 1px solid #b89e64;
}

.vertical-center {
    padding: 70px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.home-section-2 h1 {
    font-family: 'Yatra One', cursive;
    color: #b89e64;
    letter-spacing: 2.5px;
}

.home-section-2 p {
    color: #545454;
    letter-spacing: 1px;
    padding-top: 30px;
}

/* HOME EVENT CONTACT */
.home-event {
    height: 50vh;
    background-color: #0c444c;   
}

.event-center {
    position: relative;
    text-align: center;
    transform: translatey(-50%);
    top: 50%;
}

.event-center h1 {
    font-family: 'Yatra One', cursive;
    color: #f6f3e9;
    letter-spacing: 2.5px;
    padding-bottom: 20px;
}

/* HOME IMAGE CAROUSEL */

.image-carousel {
    height: 100vh;
    background-color: #f6f3e8;
}







@media (max-width: 767px) {

/* HOME SECTION 2 */
    .home-section-2 {
        height: auto;
        min-height: 100vh;
    }
    .home-section-2 .row {
        height: 100%;
    }
    .vertical-center {
        padding: 25px;
    }
}

/* SECTION 1 */
.section-1 {
    height: 20vh;
    background: #0c444c;
}

.section-1 img {
    display: block;
    margin: auto;
    max-height: 100%;
}

/* SECTION 2 */
.section-2 {
    height: 80vh;
    background: #f6f3e9;
}

.section-2 h1 {
    font-family: serif;
    color: #bc9e5a;
    font-size: 3.5rem;
    padding-top: 80px;
    padding-bottom: 50px;
    letter-spacing: 3px;
}

.section-2 .blue-btn {
        border-radius: 0;
        width: 185px;
        padding: 10px;
        margin-top: 12px;
        border: none;
        color: white;
        background-color: #b44738;
        letter-spacing: 2px;
}

.section-2 .blue-btn:hover {
    background-color: #862a21;
}

footer {
    color: white;
    background-color: #c23d30;
    padding: 100px;
}